{% load static %}
{% include 'base/base.html' %}
{% block content %}
    <title>Gymcounselor</title>
    <div class="fh5co-loader"></div>
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
	    <div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="https://www.instagram.com/gymcounselor/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/gymcounselor"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UChvRw7rp9-gX00EpiCoMDNg"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.linkedin.com/company/gymcounselor/"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'home' %}">gymCOUNSELOR<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!--<li><a href="{% url 'work' %}">Work</a></li>-->
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>

						    <li class="has-dropdown"><a>Services</a>
							{% for s in service %}
							   <ul class="dropdown">
							        <li><a href="{% url 'prod_detail' s.slug %}">{{ s.name }}</a></li>
							   </ul>
							   {% endfor %}
							</li>

							{% if request.user.is_authenticated %}
                            <li class="has-dropdown"><a> Hey, {{ user.first_name }}</a>
									<ul class="dropdown">
										<li><a href="{% url 'logout' %}">Logout</a></li>
									</ul>
							</li>
							{% else %}
                                <li class="btn-cta"><a href="{% url 'login' %}?next={{request.path}}"><span>Login</span></a></li>
                            {% endif %}
                        </ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:{% static 'images/img_bg_1.jpg' %};" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Making the Future of Fitness Easy and Accessible</h1>
							<p><a href="{% url 'register' %}?next={{request.path}}" class="btn btn-default btn-lg">Get Free Consultation</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Our Services</h2>
				</div>
			</div>
		</div>

		<div class="project-content">
			{% for s in service %}
                <div class="col-forth">
                        <div class="project animate-box" style="background-image: url('../../media/{{ s.img_card }}')">
                                <a href="{% url 'prod_detail' s.slug %}" class="desc">
                                 <span>Get the Results you always Wanted</span>
                                 <h3>{{ s.name }}</h3>
                                </a>
                            </div>
                <p style="text-align:center;" ><a class="btn btn-primary btn-outline " href="{% url 'prod_detail' s.slug %}">Start a Free Trial</a></p>
                </div>
            {% endfor %}
		</div>
	</div>
		<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h1><strong>What is GYMCOUNSELOR</strong></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="test">
						<img class="img-responsive" src="{% static 'images/home2.jpg' %}" >
					</div>
				</div>
				<div class="col-md-6">
					<div class="row services-inner">
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-image"></i>
								</span>
								<h3>Community</h3>
								<p>We are a web based fitness community, trying to help anyone that wants to make a Positive change in their lives. We do so by sharing our knowledge and our expertise in the fields of Exercise Science and Nutrition.</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-laptop"></i>
								</span>
								<h3>Experts</h3>
								<p>Remove the guess work from your fitness journey with our expert guidance who are also Teaching Faculties of Leading Fitness Institutions.</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-air-play"></i>
								</span>
								<h3>Accountability</h3>
								<p>With our continuous Motivation and Tracking system you will achieve your goals before you know it</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2> Our Newsletter</h2>
					<p>Sign up for a regular digital update. What you will get: Weekly updates of Exciting Recipes for PCOS Diet, Access to our Live Sessions Conducted by Experts in the industry</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="{% url 'login' %}?next={{request.path}}" class="btn btn-default btn-lg">Subscribe</a></p>
				</div>
			</div>
		</div>
	</div>
		<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Meet Our Team</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static 'images/lakshmi.jpg' %}" >
						<h3>Lakshmi</h3>
						<strong class="role">M.Sc(Clinical Nutrition),<br> Specializes in long term weight management.</strong>
						<p>Passionate about nutrition and an expert in evaluating the dietary needs of a client Lakshmi has an inclination towards empowering others by understanding their symptoms, their bodies, and how even small diet and lifestyle changes can yield a more healthful, vibrant life in time. She is highly skilled in various fields of diet planning, nutrition counseling, management, public speaking, and healthcare.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static 'images/Siddharth.png' %}">
						<h3>Dr. Siddharth baidya</h3>
						<strong class="role">Orthopedic Surgeon,<br>Specialty Sports Injury</strong>
						<p>Co-founder of GymCounselor, Dr. Sidharth Baidya holds a Specialization in Sport Injury from MGMC&H, WEST BENGAL. In his vast experience of 8 years in the Fields of Medical and Orthopedics Sidharth has worked with multiple clients and patients and has taught several courses in places like Korea and India to name a few.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static 'images/rajnish.jpg' %}" >
						<h3>Rajnish</h3>
						<strong class="role">Chief Of Exercise Sciences,<br>Certified Fitness and Nutrition Consultant (CPT)</strong>
						<p>A Fitness and Nutrition Consultant certified by Scientific Training Fitness Academy and Currently one of the Faculty Members. I have worked on individual clients and have successfully helped them achieve their goals. Along with tailor made diet plan and customized exercise schedule, my clients reach their goals faster and in healthier fashion.</p>
					</div>
				</div>
		</div>
	</div>
	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>A Little About Gymcounselor.</h3>
					<p>We as GymCounselor work with Scientific Principles and Data Backed methodologies to help you see the results that you may have never seen.</p>
					<p><a class="btn btn-primary btn-outline with-arrow" href="/about">Learn More <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Help</a></li>
						<li><a href="#">Terms</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2020 gymcounselor.com<br> All Rights Reserved.</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://www.instagram.com/gymcounselor/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/gymcounselor"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UChvRw7rp9-gX00EpiCoMDNg"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.linkedin.com/company/gymcounselor/"><i class="icon-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</footer>
	</div>
</div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
{% endblock %}