{% load static %}
{% include 'base/base.html' %}
{% block content %}
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
	     <div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="https://www.instagram.com/gymcounselor/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/gymcounselor"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UChvRw7rp9-gX00EpiCoMDNg"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.linkedin.com/company/gymcounselor/"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'home' %}">gymCOUNSELOR<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!--<li><a href="{% url 'work' %}">Work</a></li>-->
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>

						    <li class="has-dropdown"><a>Services</a>
							{% for s in service %}
							   <ul class="dropdown">
							        <li><a href="{% url 'prod_detail' s.id %}">{{ s.name }}</a></li>
							   </ul>
							   {% endfor %}
							</li>

							{% if request.user.is_authenticated %}
                            <li class="has-dropdown"><a> Hey, {{ user.first_name }}</a>
									<ul class="dropdown">
										<li><a href="{% url 'logout' %}">Logout</a></li>
									</ul>
							</li>
							{% else %}
                                <li class="btn-cta"><a href="{% url 'login' %}"><span>Login</span></a></li>
                            {% endif %}
                        </ul>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:{% static 'images/img_bg_2.jpg' %};" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Project</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Our Latest Work</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
		</div>
		<div class="project-content">
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project1.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project2.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project3.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project4.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project5.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project6.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project7.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url({% static 'images/project8.jpg' %});">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="/contact" class="btn btn-default btn-lg">Get in Touch</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>A Little About Gymcounselor.</h3>
					<p>We as GymCounselor work with Scientific Principles and Data Backed methodologies to help you see the results that you may have never seen.</p>
					<p><a class="btn btn-primary btn-outline with-arrow" href="/about">Learn More <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2020 gymcounselor.com <br> All Rights Reserved.</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
						 	<li><a href="#"><i class="icon-instagram"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
{% endblock %}