{% extends 'base/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    $("input").intlTelInput({utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"});
</script>
<style>
.fbbtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
.fbbtn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

}
</style>
{% endblock extra_head %}
{% block content %}
	<nav class="fh5co-nav" style="background-color: #F02D3A; position: initial !important;" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="https://www.instagram.com/gymcounselor/"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/gymcounselor"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UChvRw7rp9-gX00EpiCoMDNg"><i class="icon-youtube"></i></a></li>
							<li><a href="https://www.linkedin.com/company/gymcounselor/"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'home' %}">gymCOUNSELOR<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!--<li><a href="{% url 'work' %}">Work</a></li>-->
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>

						    <li class="has-dropdown"><a>Services</a>
							{% for s in service %}
							   <ul class="dropdown">
							        <li><a href="{% url 'prod_detail' s.id %}">{{ s.name }}</a></li>
							   </ul>
							   {% endfor %}
							</li>

							{% if request.user.is_authenticated %}
                            <li class="has-dropdown"><a> Hey, {{ user.first_name }}</a>
									<ul class="dropdown">
										<li><a href="{% url 'logout' %}">Logout</a></li>
									</ul>
							</li>
							{% else %}
                                <li class="btn-cta"><a href="{% url 'register' %}?next={{request.path}}"><span>Register</span></a></li>
                            {% endif %}
                        </ul>
					</div>
				</div>

			</div>
		</div>
	</nav>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <form action="" method="POST" class="fh5co-form animate-box" data-animate-effect="fadeIn">{% csrf_token %}
                    <div class="form-group">
						          <div class="col">
                                    <a href="{% url 'social:begin' 'facebook' %}" class="fb btn"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</a>
                                </div>
							<!--<div class="alert alert-success" role="alert">Your info has been saved.</div>-->
						</div>
						<div class="form-group">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="google btn"><i class="fa fa-google fa-fw"></i> Login with Google</a>
						</div>
                    <h2 class="text-center">Log in</h2>
                     {% if error %}
                        <div class="error">
                        <p class="errorText">{{ error }}</p>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" required="required">
                    </div>
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                    <div class="form-group">
							<label for="remember"><input type="checkbox" id="remember"> Remember Me</label>
					</div>
                    <div class="form-group">
                        <a href="#" class="float-right">Forgot Password?</a>
                    </div>
                    <div class="form-group">
							<p class="text-center">Create an account ,<a href="{% url 'register' %}?next={{request.path}}">here</a></p>
					</div>
                </form>
        </div>
    </div>
</div>
{% endblock %}