{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <nav class="fh5co-nav" style="background-color: #5D5B95; position: initial !important;" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'home' %}">gymCOUNSELOR<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="{% url 'work' %}">Work</a></li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li class="has-dropdown">
								<a href="{% url 'services' %}">Services</a>
							</li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
                            {% if request.user.is_authenticated %}
                                <li class="btn-cta"><a href="{% url 'dashboard' %}">{{ users.first_name }}</a></li>
                            {% else %}
                                <li class="btn-cta"><a href="{% url 'login' %}"><span>Login</span></a></li>
                                <li class="btn-cta"><a href="{% url 'register' %}"><span>Register</span></a></li>
                            {% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
    <form action="" method="POST">{% csrf_token %}
  <div class="container-fluid" style="width:90vw">
  <div class="row">
  <div class="col-md-6">
  <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
  </div>
  <div class="col-md-6">
   <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
</div>
<div class="row">
</div>
<div class="row">
<div class="col-md-12">
  <input type="email" class="form-control" id="email" name="username" placeholder="Email Address">
</div>
</div>
      <div class="row">
<div class="col-md-12">
  <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number">
</div>
</div>
<div class="row">
  <div class="col-md-6">
  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="col-md-6">
   <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
 </div>
</div>
<div class="row">
<div class="col-md-12">
<div class="progress">
  <div class="progress-bar progress-bar-success boja1" style="width: 12.5%">

  </div>
  <div class="progress-bar progress-bar-warning  boja2" style="width: 12.5%">

  </div>
  <div class="progress-bar progress-bar-danger boja3" style="width: 12.5%">

  </div>
  <div class="progress-bar progress-bar-danger boja4" style="width: 12.5%">

  </div>
  <div class="progress-bar progress-bar-danger boja5" style="width: 12.5%">

  </div>
  <div class="progress-bar progress-bar-danger boja6" style="width: 12.5%">

  </div>
  <div class="progress-bar progress-bar-danger boja7" style="width: 12.5%">

  </div>
  <div class="progress-bar progress-bar-danger boja8" style="width: 12.5%">

  </div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<button type="submit" class="btn btn-primary col-md-12 col-xs-12">Register</button>
</div>
</div>

</div>
  </div>
    </form>

{% endblock content %}